{% extends 'layout.html' %}
  {% load staticfiles %}
  <head>
    <link rel="stylesheet" href="{% static 'css/userLayout.css' %}">
  </hedad>
{% block layout %}
<div class="content container">
    <div class="row">
        <div class="col-md-6" align="left">
          {% block userLayout %}
          {% endblock %}
        </div>
          <div class="col-md-2" align="center" style="background-color:orange;">
            {% if link != 0 %}
            <a href="{% url 'user_list' %}">Lista Usuarios</a>
            {% endif %}
            <br><a href="{% url 'user_new' %}">Nuevo Usuario</a>
          </div>

    </div>
</div>
{% endblock %}
