{% load staticfiles %}
    <html>
        <head>
            <title>Conect@</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{% static 'css/layout.css' %}">
        </head>
        <body>
          <div class="page-header">
            <h1><a href="/">Conecta FS - {{request.user}}</a></h1><h3><div align="right">ID: {{user.pk}}</div></h3>
            {% if user.is_superuser%}
              Es super usuario
            {% else %}
              No eres super Usuario, sigue buscando...
            {% endif %}
        </div>
            {% block layout %}
            {% endblock %}
        </body>
    </html>
